:root {
  --bg-body: hsl(0, 0%, 10%);
  --bg-contact: hsl(0, 0%, 20%);
  --accent: hsl(37, 98%, 53%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 60%);
  --invalid: hsl(7, 76%, 39%);
  --fs-18: 1.125rem;
  --fs-24: 1.5;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;
  --container: 69.375rem;
  --transition: 300ms ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-18);
  line-height: 1.56;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  h1 {
    margin-bottom: 60px;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text2);
}

a {
  transition: color var(--transition);
}

a.underline {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 2.29px;
  text-decoration: none;
  color: var(--text1);
  border-bottom: 2px solid var(--accent);
  white-space: nowrap;
  text-transform: uppercase;
}

a:hover {
  color: var(--accent);
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
  margin-top: 20px;
}

/* 600px */
@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

/* HEADER */

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}

.header__social svg {
  display: block;
}

.header__social > svg > path {
  fill: var(--text1);
  fill-rule: evenodd;
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--accent);
}

/* 600px */
@media (min-width: 37.5em) {
  .header__nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 90px;
  }

  .header__home {
    flex: 1;
    margin-inline-end: auto;
  }
}

/* HERO */

.hero__wrapper {
  padding-bottom: 30px;
  border-bottom: 2px solid var(--text2);
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  z-index: -1;
  opacity: 60%;
  display: block;
}

.hero__text {
  position: relative;
  text-align: center;
  margin-top: 335px;
}

/* Tablet */
@media (min-width: 37.5em) {
  .hero__wrapper {
    padding-bottom: 200px;
  }

  .hero__image {
    height: auto;
    width: 20.125rem;
    left: auto;
    right: 0;
    translate: 0;
  }

  .hero__text {
    text-align: left;
    margin-top: 0;
    max-width: 54vw;
  }
}

/* Desktop */
@media (min-width: 62.5em) {
  div.hero__text h1 {
    max-width: 45rem;
  }

  .header__nav {
    padding-right: 30px;
  }

  .hero__wrapper {
    position: relative;
    padding-bottom: 280px;
  }

  .hero__image {
    height: auto;
    width: 24rem;
    left: auto;
    right: 0;
    translate: 0 -160px;
  }

  .hero__text {
    text-align: left;
    margin-top: 0;
    max-width: 54vw;
  }
}

h1 > span {
  border-bottom: 2px solid var(--accent);
  white-space: nowrap;
}

.hero__contact {
  text-decoration: underline;
  color: var(--text1);
}

/* SKILLS */

.skills {
  text-align: center;
}

.skills__title {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Tablet*/
@media (min-width: 37.5em) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 62.5em) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PROJECTS */
.projects {
  display: grid;
}

.projects__top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}

.projects__headline {
  margin-bottom: 0;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects__item {
  grid-column: 1 / 2;
  margin-bottom: 30px;
}

.projects__links a {
  font-size: 0.8rem;
  margin-right: 1rem;
}

/* FOOTER */
.footer {
  background-color: var(--bg-contact);
  border-top: 2px solid var(--text2);
  margin-top: 2rem;
  padding-bottom: 10px;
}

.contact__text {
  text-align: center;
}

.contact__form {
}

.contact__control input,
.contact__control textarea {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--text2);
  background-color: transparent;
  color: var(--text1);
  line-height: 2.5;
  padding-left: 20px;
}

.contact__control button {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text2);
  background-color: transparent;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--accent);
  margin-bottom: 1rem;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

p.credit {
  font-size: 10px;
  text-align: center;
}
