:root {
    --bg-body:hsl(0, 0%, 8%);
    --bg-contact:hsl(221, 51%, 16%);
    --accent:hsl(37, 98%, 53%);
    --text1:hsl(0, 0%, 90%);
    --text2:hsl(0, 0%, 100%);
    --invalid:hsl(7, 76%, 39%);
    --fs-18: 1.125rem;
    --fs-24: 1.5;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-72: 4.5rem;
    --fs-88: 5.5rem;
    --container: 69.375rem
}

html {
    box-sizing: border-box;
    font-size: 100%;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--bg-body);
    color: var(--text1);
    font-size: var(--fs-18);
    line-height: 1.56;
}

a:hover {
    color: var(--accent);
}

.header__social {
    display: inline-block;
}

.header__social > svg > path {
    fill: var(--text1);
    fill-rule: evenodd;
}

.header__social:hover > svg > path{
    fill: var(--accent);
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto;
}

/* 600px */
@media (min-width: 37.5em){ 
    .wrapper {
        width: calc(100% - 3.75rem)
    }
}


/* HEADER */
.header {
}

.header__home {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: var(--text1);
    text-decoration: none;
}